body {
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: #333333;
}

body > header {
    padding:0.5em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 0.1em;
}

body > main {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

body > main > div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

body > main div div {
    border: 1px dotted #555555;
}

